Reference to `cti` claim

[Section 3.4](https://www.rfc-editor.org/authors/rfc9202.html#name-resource-access) specifies:

> The authorization server may, e.g., specify a cti claim for the access token (see Section 5.9.4 of [RFC9200]) to employ a strict order.

The only occurrence of `cti` in RFC 9200 is in [Section 5.9.4](https://www.rfc-editor.org/authors/rfc9200.html#name-mapping-introspection-param) that describes the mapping of introspection parameters to CBOR only. The claim key `cti` with CBOR value 7 is defined in [Section 3.1.7 of RFC 8392](https://www.rfc-editor.org/rfc/rfc8392.html#section-3.1.7) (which in turn refers to OAuth's `jti`).

I wonder if referencing Section 5.9.4 of RFC 9200 for `cti` is correct at all.


(Say it here as well:) 5.9.2.